In [1]:
import pandas as pd

## Creating from scratch with pd.series

In [2]:
pd.Series([10,25,6,36,2])

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [3]:
pd.Series([10,25,6,36,2], index=["mon","tue","wed","thu","fri"])

mon    10
tue    25
wed     6
thu    36
fri     2
dtype: int64

In [5]:
pd.Series([10,25,6,36,2], index=["mon","tue","wed","thu","fri"], name="sales")

mon    10
tue    25
wed     6
thu    36
fri     2
Name: sales, dtype: int64

## Creating from numpy array

In [7]:
import numpy as np

In [8]:
sales=np.array([10,25,6,36,2])
sales

array([10, 25,  6, 36,  2])

In [9]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [10]:
sales=(10,25,6,36,2)

In [11]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

## From dictionary

In [13]:
dic={"mon":10,"tue":25,"wed":6,"thu":36,"fri":2}
dic

{'mon': 10, 'tue': 25, 'wed': 6, 'thu': 36, 'fri': 2}

In [14]:
pd.Series(dic)

mon    10
tue    25
wed     6
thu    36
fri     2
dtype: int64

In [15]:
pd.Series(dic, index=["fri","sat","sun","mon","tue","wed","thu"])

fri     2.0
sat     NaN
sun     NaN
mon    10.0
tue    25.0
wed     6.0
thu    36.0
dtype: float64

In [16]:
pd.Series(dic,index=[1,2,3,4,5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

## Indexing and Slicing

In [17]:
titanic=pd.read_csv("titanic.csv")

In [31]:
age=titanic.age.copy()

In [32]:
age[0]

np.float64(22.0)

In [33]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [34]:
age.iloc[-1]

np.float64(32.0)

In [35]:
age[[3,4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [36]:
age.loc[:3]

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

In [37]:
age.iloc[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [38]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [39]:
type(age)

pandas.core.series.Series

In [40]:
age.sort_values()

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [41]:
age.sort_index()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [42]:
age.sort_values(ascending=False, inplace=True)

In [43]:
age

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

###  Nlargest(), nsmallest()

In [50]:
age.sort_values(ascending=False)[:5]

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
Name: age, dtype: float64

In [44]:
age.nlargest()

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
Name: age, dtype: float64

In [45]:
age.nlargest(2)

630    80.0
851    74.0
Name: age, dtype: float64

In [51]:
age.sort_values(ascending=True)[:5]

803    0.42
755    0.67
469    0.75
644    0.75
831    0.83
Name: age, dtype: float64

In [52]:
age.nsmallest()

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
Name: age, dtype: float64

In [47]:
age.nsmallest(3)

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [53]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [54]:
titanic.age.idxmax()

630

In [56]:
titanic.loc[630]

survived       1
pclass         1
sex         male
age         80.0
sibsp          0
parch          0
fare        30.0
embarked       S
deck           A
Name: 630, dtype: object

In [57]:
titanic.age.idxmin()

803

In [58]:
titanic.loc[803]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

In [59]:
titanic.loc[titanic.age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object